/* responsive laptop */
@media screen and (max-width: 1600px) {
    .firstcloud {
        display: none;
    }


}

/* responsive tablet */
@media screen and (max-width: 1024px) {
    .secondcloud {
        display: none;
    }


}

/* responsive tablet */
@media screen and (max-width: 630px) {
    .projects-illus {
        width: 350px;
    }

}

.projects-illus {
    position: absolute;
}

.firstcloud {
    z-index: 1;
    position: relative;
    top: 60px;
    right: -200px;
}

.secondcloud {
    position: absolute;
    z-index: 0;
}




.svg-floating-girl {
    animation: floatingAround 5s linear infinite;
    animation-delay: 0s;
}


.svg-floating-firstcloud,
.svg-floating-secondcloud {
    animation: floatingAround 3s linear infinite;
}


.svg-floating-firstcloud {
    animation-delay: -1s;
}

.svg-floating-secondcloud {
    animation-delay: -2s;
}

@keyframes floatingAround {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translate(0);
    }
}