.header {
    display: flex;
    height: 100px;
    margin: 30px 0 15px 0;
    align-items: center;
}

.logo img {
    width: 250px;
    height: auto;
}

/* responsive mobile small format */
@media screen and (max-width: 450px) {


    .logo img {
        width: 160px;
        height: auto;
        margin-left: 10px;
    }

    .header-btns a {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 14px;
        margin-left: 10px;
    }

    .btn-menu {
        margin-right: 10px;
    }
}

.svgillu-judee {
    width: 340px;
    height: auto;

}

.header-btns {
    display: flex;
    gap: 15px;

}

.hire-btn {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Britannic', 'Segoe UI';
    padding: 5px 15px;
    text-decoration: none;
    cursor: pointer;

}

.hire-btn:hover {
    background-color: #f26389;
    border-color: #f26389;
}