.footer {
    text-align: center;
    padding-top: 30px;
}



.copyright {
    padding-top: 40px;
    font-size: 12px;
}

.icon:hover {
    fill: #f26389;
}


.social {
    display: grid;

    justify-content: center;
    grid-template-columns: 73px 60px 51px;
    align-items: center;
}

/* .newsletter {
    margin-top: 50px;
    background-color: white;
}

.newsletter-form {
    background-color: white;
    margin-top: -15px;
    z-index: -1;
} */